
    .title h3 {
    font-size: 2.3rem;
    margin-bottom: 1.75rem !important;
    }
    .title h4 {
    font-size: 1.5rem !important;
    margin-bottom: 0.6rem !important;
    }
    .title p {
    font-size: 1.5rem !important;
    margin-bottom: 0.6rem !important;
    }
    @media (max-width: 768px) {
    section {
    margin: 1rem auto;
    overflow: hidden;
    }
    .text-link a {
    border: 1px solid #000;
    padding: .5rem;
    }
    }
    @media (min-width: 768px) {
    .container,
    .container-sm,
    .container-md {
    max-width: 720px;
    }
    .img-content {
    position: relative;
    }
    .img-content .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    }
    section {
    margin: 5rem auto;
    }
    section:first-child {
    margin-top: 0;
    }
    .bottom-div {
    position: relative;
    }
    .text-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 180%);
    }
    .text-link a {
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem;
    }
    }
    @media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
    max-width: 960px;
    }
    }
    @media (min-width: 1242px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
    max-width: 1210px;
    }
    }