/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-size: 14px!important;
}
body {
    margin: 0;
    font-family: HelveticaRoman, Noto Sans, Helvetica, sans-serif, Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    text-align: left;
    background-color: #fff;
}

a {
    color: #333;
    background-color: transparent;
}

a:hover,
a:focus,
select:focus,
button:focus {
    outline: none;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}

li {
    list-style: none;
}
.h1, .h2, .h3, h1, h2, h3 {
    font-family: "HelveticaMedium";
}
h1, h2, h3, h4, h5, h6
 {
    outline: none !important;        
}
/* //General */

/* Navbar */
.global-nav {
    padding: 0;
    border-bottom: 1px solid #dee2e6;
    flex-flow: column;
    text-transform: uppercase;
}
.global-nav .nav-link {
    display: inline-block;
    font-weight: 400;
}
.global-nav .btn-search {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
}
.global-nav .iconfont {
    font-size: 1rem;
}
.btn-icon, .btn-transparent {
    color: inherit;
    background-color: transparent;
    border: 0;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
/* Navbar */

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.show {
    display: block!important;
}
.modal.backdrop {
    background-color: rgba(0,0,0,.3);
}
.modal.backdrop.show {
    display: block;
}
.fade:not(.show) {
    opacity: 0;
}
.header-search-wrap {
    left: 0;
    width: 100%;
    z-index: 99;
    color: #777;
    font-family: HelveticaLight
}

.header-search-wrap .input-group .form-control {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1rem;
    height: calc(3em + 2px);
    color: #999
}

.header-search-wrap .input-group .form-control:focus {
    border-color: transparent;
    box-shadow: none
}

.header-search-wrap .btn {
    height: 100%
}

.header-search-wrap ul li {
    margin-top: 1rem
}

.header-search-wrap ul li a {
    color: #999
}

/* //Modal */


/* Slick Slider */
.slick-slider {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 100%
}

.slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    flex-grow: 1!important;
    max-width: 100%;
    margin: 0;
    padding: 0
}

.slick-slider .slick-list:focus {
    outline: none
}

.slick-slider .slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-slider .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.slick-slider .slick-track:after,
.slick-slider .slick-track:before {
    content: "";
    display: table
}

.slick-slider .slick-track:after {
    clear: both
}

.slick-loading .slick-slider .slick-track {
    visibility: hidden
}

.slick-slider .slick-arrow.slick-hidden {
    display: none
}

.slick-slider .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

.slick-slider .slick-slide img {
    display: block;    
}

.slick-slider .slick-slide.slick-loading img {
    display: none
}

.slick-slider .slick-slide.dragging img {
    pointer-events: none
}

.slick-slider .slick-next,
.slick-slider .slick-prev {
    display: block;
    background-color: #fff;
    color: #fff;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
    outline: none
}

.slick-slider .slick-next:focus,
.slick-slider .slick-next:hover,
.slick-slider .slick-prev:focus,
.slick-slider .slick-prev:hover {
    outline: none;
    background: transparent;
    color: transparent
}

.slick-slider .slick-next:focus:before,
.slick-slider .slick-next:hover:before,
.slick-slider .slick-prev:focus:before,
.slick-slider .slick-prev:hover:before {
    opacity: 1
}

.slick-slider .slick-next.slick-disabled:before,
.slick-slider .slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-slider .slick-next:before,
.slick-slider .slick-prev:before {
    display: inline-block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    font-size: 16px;
    font-family: iconfont;
    font-weight: 700;
    color: #333;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-slider .slick-prev {
    margin-right: 10px
}

.slick-slider .slick-prev:before {
    content: "\E661"
}

[dir=rtl] .slick-slider .slick-prev:before {
    content: "\E660"
}

.slick-slider .slick-next {
    margin-left: 10px
}

.slick-slider .slick-next:before {
    content: "\E660"
}

[dir=rtl] .slick-slider .slick-next:before {
    content: "\E661"
}

.slick-slider .slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-slider .slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
}

.slick-slider .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-slider .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer
}

.slick-slider .slick-dots li button:focus,
.slick-slider .slick-dots li button:hover {
    outline: none
}

.slick-slider .slick-dots li button:focus:before,
.slick-slider .slick-dots li button:hover:before {
    opacity: 1
}

.slick-slider .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\E600";
    width: 20px;
    height: 20px;
    font-family: iconfont;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    color: #bcc2c4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-slider .slick-dots li.slick-active button:before {
    color: #fff
}

.slick-slider.s1 .slick-track {
    margin: 0
}

.slick-slider.s1 .slick-next,
.slick-slider.s1 .slick-prev {
    position: absolute;
    z-index: 9
}

.slick-slider.s1 .slick-next:before,
.slick-slider.s1 .slick-prev:before {
    opacity: 1
}

.slick-slider.s1 .slick-disabled:before {
    opacity: .5
}

.slick-slider.s1 .slick-prev {
    left: -10px
}

.slick-slider.s1 .slick-next {
    right: -10px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.cover-banner {
    display: block;
    position: relative;
    width: 100%;
    background-color: #f2f2f2
}

.cover-banner figure {
    margin: 0;
    padding: 0;
    width: 100%
}

.cover-banner figure.image {
    height: 68.75vw;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.cover-banner figure.video {
    height: 42.5vw;
    overflow: hidden
}

.cover-banner figure.video video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.no-gutters.card-items .card-item {
    margin: .5rem;
}

.cover-banner .wrapper {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .16)
}
.home-slider .slick-dots li.slick-active button:before {
    color: #184586;
    content: "\E600"
}
.home-slider .slick-dots li.slick-active button:before {
    color: #184586;
    content: "\E600"
}
.home-slider .desc {
    text-align: center;
    color: #595758;
}
.home-slider .slick-dots {
    left: 0;
    bottom: 0;
}
/* //Slick Slider */

/* Home Innovations */
.home .section-title {
    position: relative;
    display: block;
    margin: 0 auto;
    color: #272727;
    text-align: center;
    font-weight: 400;
    padding: 3.2rem 0;
    font-size: 1.2rem;
}
.home .section-title:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    z-index: -1;
    background-color: #ccc;
}
.home .section-title span {
    display: inline-block;
    background-color: #fff;
    padding: 0 2rem;
}
.feature-cover .desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 5px 1rem;
    z-index: 1;
    font-family: HelveticaLight;
    font-size: 1.1rem;
}
.feature-cover {
    position: relative;
    margin-bottom: 10px;
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.feature-cover .figure {
    display: block;
    overflow: hidden;
}
.home-innovations .feature-cover .figure.video:before {
    padding-top: 90.82%;
}
.home-innovations .feature-cover .figure.image:before {
    padding-top: 40.65%;
}
/* //Home Innovations */

/* Home Discover */
.home-discover .feature-cover .figure.image:before {
    padding-top: 58.02%;
}
.home-discover .item, .home-innovations .item {
    display: block;
    cursor: pointer;
    padding: 10px;
}
/* //Home Discover */




/* Footer */
footer {
    position: relative;
    display: block;
    padding: 50px 0;
    background-color: #eee;
}
.footer-widget-title {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer-menu a, footer .contact a {
    color: #555;
    padding: .3rem 0;
    font-family: HelveticaLight;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
}
ul.footer-menu {
    margin-bottom: 0;
}
footer .contact a i { 
    position: absolute;
}
footer .contact a {
    padding-left: 30px;
    position: relative;
}
footer .contact a i { 
    position: absolute;
    width: 30px;
    left: 0;
    text-align: center;
    line-height: 20px;
}
ul.contact {
    margin-top: 30px;
}
/* //Footer */
/***************** End Homepage *****************/



/***************** Start Deebot Page *****************/
/* Breadcrumb */
.breadcrumb {
    font-family: HelveticaLight;
}
.breadcrumb {
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb, .breadcrumb-item {
     display: flex
 }
 
 .breadcrumb-item+.breadcrumb-item {
     padding-left: .5rem
 }
 
 .breadcrumb-item+.breadcrumb-item:before {
     display: inline-block;
     padding-right: .5rem;
     color: #6c757d;
     content: ">"
 }
 
 .breadcrumb-item+.breadcrumb-item:hover:before {
     text-decoration: underline;
     text-decoration: none
 }
 
 .breadcrumb-item.active {
     color: #6c757d
 }
 .breadcrumb-item a, .breadcrumb-item {
    font-size: 16px;
}
/* //Breadcrumb */
/* Product */
.product-card .rate {
    height: 20px;
    line-height: 20px;
}
.product-card .rate .bv-star {
    display: inline-block;
}
.stretched-link:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent;
}
.product-card {
    position: relative;
    transition: all .3s;
    margin: .5rem;
    padding: .5rem 0;
}
.product-card:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.product-card .tag {
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1;
    width: 5.3125rem;
    line-height: 1;
    padding: .4375rem 0;
    text-align: center;
    color: #fff;
    font-size: 1.3125rem;
}
.product-card .title {
    font-size: 1.2rem;
    font-weight: 400;
    height: 2.8rem;
    line-height: 1.4rem;
}
.product-card .desc {
    margin-top: .5rem;
    color: #999;
    font-size: 12.8px;
    height: 2.4rem;
    line-height: 1.2rem;
    font-family: HelveticaLight;
}
.text-ellipse-2 {
    -webkit-line-clamp: 2;
}
.text-ellipse-1, .text-ellipse-2, .text-ellipse-3, .text-ellipse-4, .text-ellipse-5 {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.product-card hr {
    margin: 5px 0;
}
.compare-checkobox {
    color: #999;
    min-height: auto;
    padding-left: 16px;
    line-height: 1;
}
.custom-checkbox, .custom-control-label {
    cursor: pointer;
}
.compare-checkobox .custom-control-input, .compare-checkobox .custom-control-label:after, .compare-checkobox .custom-control-label:before {
    position: absolute;
    top: 3px;
    width: 12px;
    height: 12px;
}
.compare-checkobox .custom-control-label {
    display: flex;
    font-size: 12.8px;
    height: 20px;
    align-items: center;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.3rem;
    opacity: 0;
}
.compare-checkobox .custom-control-label:after, .compare-checkobox .custom-control-label:before {
    left: -16px;
}
.product-card .price {
    display: flex;
    justify-content: flex-end;
    color: #2d2d2d;
    align-items: baseline
}

.product-card .price-currency {
    font-family: HelveticaLight;
    position: relative;
    top: -.5rem
}

.product-card .price-amount {
    font-family: HelveticaMedium;
    font-size: 2rem;
    line-height: 2rem
}
.btn-primary {
    color: #fff;
    background-color: #184586;
    border-color: #184586;    
}
.product-card .btn {
    line-height: 1;
    padding: .7rem 0;
    border-radius:0;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #123466;
    border-color: #102f5b;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #102f5b;
    border-color: #0e2950;
}
.btn {
    box-shadow: none!important;
}
.mrp_txt {
    text-align: left;
    color: #29282d;
    margin: 10px 0;
    font-size: 20px;
}
.price_txt {
    text-align: right;
    color: #29282d;
    margin: 10px 0;
    font-size: 20px;
}
.line-th {
    text-decoration: line-through;
}
 
/* //Product */
/***************** End Deebot Page *****************/



/***************** Product Page *****************/
div#slick-slider {
    width: 88%;
    margin: 0 auto;
}
#slick-slider .slick-next:before, #slick-slider .slick-prev:before {     
    box-shadow: none!important;    
    /* opacity: 1;     */
    color: #fff;
}
#slick-slider button.slick-prev.slick-arrow, #slick-slider button.slick-next.slick-arrow {    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0;
    padding: 0 .3rem;
    color: #fff;
    transition: all .3s;
    background-color: #ccc;
    outline: 0;
    border: 0;
}
#slick-slider figure {
    margin-bottom: -5px;
}
#slick-slider .slick-current img {
    border: 1px solid #184586;
}
#slick-slider.slick-slider .slick-slide img {    
    cursor: pointer;    
}
.product-detail .baseinfo .description {
    line-height: 25px!important;
    color: #727272;
}
.product-detail .amount {
    width: 400px; 
}
/* tab */
.tab-header {
    font-weight: 400;
    z-index: 9
}

.tab .s1.tab-header {
    margin: 0 auto;
    width: 100%;
    background-color: #e6e6e6;
    border-bottom: 1px solid #dee2e6
}

.tab .s1 .tab-dropdown {
    position: relative
}

.tab .s1 .tab-dropdown .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px
}

.tab .s1 .tab-dropdown .btn.arrow {
    transition: all .3s
}

.tab .s1 .tab-dropdown .btn.arrow .iconfont:before {
    content: "\E65F"
}

.tab .s1 .tab-dropdown .active .btn.arrow {
    transform: rotate(180deg)
}

.tab .s1 .tab-dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #e6e6e6;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .15)
}

.tab .s1 .tab-dropdown-menu .tab-item {
    padding: 0 15px;
    border-top: 1px solid #fff
}

.tab .s1 .tab-nav {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    list-style: none
}

.tab .s1 .tab-item {
    position: relative;
    display: block;
    cursor: pointer
}

.tab .s1 .tab-item .link {
    display: inline-block;
    line-height: 40px;
    box-sizing: border-box
}

.tab .s1 .tab-item.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.tab .s1 .tab-item.active .link,
.tab .s1 .tab-item.active a {
    color: #184586
}

.tab .s2.tab-header {
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem 0
}

.tab .s2 .tab-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none
}

.tab .s2 .tab-item {
    position: relative;
    display: inline-block;
    padding: 0 80px;
    text-align: center;
    cursor: pointer
}

.tab .s2 .tab-item:nth-of-type(n+2) {
    border-left: 1px solid #dee2e6
}

.tab .s2 .tab-item:first-of-type {
    padding-left: 0
}

.tab .s2 .tab-item:last-of-type {
    padding-right: 0
}

.tab .s2 .tab-item .link {
    display: inline-block;
    box-sizing: border-box
}

.tab .s2 .tab-item .link>a {
    display: inline-block
}

.tab .s2 .tab-item .link>a:hover {
    text-decoration: none
}

.tab .s2 .tab-item.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.tab .s2 .tab-item.active .link,
.tab .s2 .tab-item.active a {
    color: #184586
}

.tab-pane {
    margin-top: 2rem
}

.tab-content {
    min-height: 5rem
}
    /* Product-features */
    .product-feature {
        color: #272727
    }
    
    .product-feature figure {
        margin: 0
    }
    
    .product-feature .img {
        display: block;
        width: 100%
    }
    
    .product-feature .featurette-cover,
    .product-feature .featurette-seprate {
        overflow: hidden
    }
    
    .product-feature .featurette-seprate.container {
        padding: 0
    }
    
    .product-feature .featurette-seprate .img img {
        width: 100%
    }
    
    .product-feature .s1 {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center
    }
    
    .product-feature .desc,
    .product-feature .title {
        font-family: HelveticaRoman
    }
    
    .product-feature .text {
        padding-top: 1.5rem;
        padding-bottom: 0;
        word-break: break-word;
        text-align: center
    }
    
    .product-feature .text .title {
        font-size: 1.25rem
    }
    
    .product-feature .text .desc {
        margin-top: 1rem;
        text-align: left
    }
    
    .product-feature .featurette-seprate-vertical .text,
    .product-feature .featurette-seprate .text {
        padding-left: 15px;
        padding-right: 15px
    }
    .youtube-player {
        padding-top: 57.34%;
        background-color: #ddd
    }
    .accordion .card {
        border: 0;
        border-bottom: 1px solid #dee2e6!important
    }
    
    .accordion .card-header {
        display: flex;
        border: 0;
        padding: .75rem 0;
        cursor: pointer;
        background: transparent;
        align-items: center;
        justify-content: space-between
    }
    
    .accordion .card-header .btn.s1 .iconfont {
        font-size: .8rem
    }
    
    .accordion .card-header .btn.s1 .iconfont:before {
        content: "\E602"
    }
    
    .accordion .card-header .btn.s2 {
        transition: all .3s
    }
    
    .accordion .card-header .btn.s2 .iconfont:before {
        content: "\E65F"
    }
    
    .accordion .card-header.active {
        color: #184586
    }
    
    .accordion .card-header.active .btn.s1 .iconfont:before {
        content: "\E63F"
    }
    
    .accordion .card-header.active .btn.s2 {
        transform: rotate(180deg)
    }
    
    .accordion .card-header .iconfont {
        font-weight: 700
    }
    
    .accordion .card-body {
        padding: .75rem 0
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0
    }
    
    .card>hr {
        margin-right: 0;
        margin-left: 0
    }
    
    .card>.list-group {
        border-top: inherit;
        border-bottom: inherit
    }
    
    .card>.list-group:first-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }
    
    .card>.list-group:last-child {
        border-bottom-width: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }
    
    .card>.card-header+.list-group,
    .card>.list-group+.card-footer {
        border-top: 0
    }
    
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem
    }
    
    .card-title {
        margin-bottom: .75rem
    }
    
    .card-subtitle {
        margin-top: -.375rem
    }
    
    .card-subtitle,
    .card-text:last-child {
        margin-bottom: 0
    }
    
    .card-link:hover {
        text-decoration: none
    }
    
    .card-link+.card-link {
        margin-left: 1.25rem
    }
    
    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
        border-bottom: 1px solid rgba(0, 0, 0, .125)
    }
    
    .card-header:first-child {
        border-radius: 0 0 0 0
    }
    
    .card-footer {
        padding: .75rem 1.25rem;
        background-color: rgba(0, 0, 0, .03);
        border-top: 1px solid rgba(0, 0, 0, .125)
    }
    
    .card-footer:last-child {
        border-radius: 0 0 0 0
    }
    
    .card-header-tabs {
        margin-bottom: -.75rem;
        border-bottom: 0
    }
    
    .card-header-pills,
    .card-header-tabs {
        margin-right: -.625rem;
        margin-left: -.625rem
    }
    
    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
        border-radius: 0
    }
    
    .card-img,
    .card-img-bottom,
    .card-img-top {
        flex-shrink: 0;
        width: 100%
    }
    
    .card-img,
    .card-img-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }
    
    .card-img,
    .card-img-bottom {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }
    
    .card-deck .card {
        margin-bottom: 15px
    }
    .product-detail .f-specification .parameters {
        text-align: left
    }
    
    .product-detail .f-specification .parameters dl {
        margin: 0;
        padding: .5em 0;
        overflow: hidden;
        color: #666
    }
    
    .product-detail .f-specification .parameters dt {
        float: left;
        width: 40%;
        font-weight: 400
    }
    
    .product-detail .f-specification .parameters dd {
        margin: 0;
        overflow: hidden;
        word-break: break-word
    }
    /* //Product-featues */
/* //tab */


/* About Page */

/* //About Page */


/* Vidoe Center Page */
.video-center {
    color: #727272
}

.video-center .title {
    line-height: 25px
}
.slick-slider.s1 .slick-track {
    margin: 0;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.row-cols-1>* {
    flex: 0 0 100%;
    max-width: 100%
}
.video-center .slick-dots .slick-active button:before {
    color:#184586!important;
}
/* //Vidoe Center Page */

/* Newsroom Page */
.text-ellipse-1,
.text-ellipse-2,
.text-ellipse-3,
.text-ellipse-4,
.text-ellipse-5 {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.text-ellipse-1 {
    -webkit-line-clamp: 1
}

.text-ellipse-2 {
    -webkit-line-clamp: 2
}

.text-ellipse-3 {
    -webkit-line-clamp: 3
}

.text-ellipse-4 {
    -webkit-line-clamp: 4
}

.text-ellipse-5 {
    -webkit-line-clamp: 5
}
.text-primary {
    color: #184586!important
}

a.text-primary:focus,
a.text-primary:hover {
    color: #0c2445!important
}
.btn-light {
    background-color: #eee
}
.news-room {
    padding-bottom: 70px;
}
.embed-responsive:before {
    display: block;
    content: "";
}
.news-cover {
    padding-top: 49.359%
}
.news__title {
    font-size: 1.125rem;
    height: 5.25rem;
    line-height: 1.75rem
}

.news-room,
.news-room a {
    color: #4c4c4c
}

.news-room .btn-light,
.news-room a:hover {
    color: #184586
}

.news-room .bg-1 {
    top: 0
}

.news-room .bg-1,
.news-room .bg-2 {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    z-index: -1
}

.news-room .bg-2 {
    top: 1rem
}

.news-room .btn-light:hover {
    color: #fff;
    background-color: #184586
}

.news-room .section-1 .news__title {
    height: 3.5rem;
    -webkit-line-clamp: 2
}

.news-room .section-2 .news__title {
    font-size: 1rem;
    height: 4.6875rem;
    line-height: 1.5625rem
}

.news-detail {
    margin: 0 auto;
    max-width: 950px
}

.news-detail .content img {
    margin: 0 auto;
    display: block;
    max-width: 100%
}
/* //Newsroom Page */